@import '../../../../assets/styles/variables.scss';

.approach {
  display: flex;
  margin-bottom: 80px;

  &__title {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
    margin-right: 60px;
  }

  &__description {
    color: $grey;
    font-size: 18px;
    line-height: 28px;
    width: 670px;
  }
}