// colors
$white: #fff;
$dark: #0D0A11;
$dark-grey: #17141B;
$dark-grey-2: #262329;
$grey: #868488;
$blue: #1F19FF;


// height
$header-height: 80px;
$header-logo-heignt: 30px;

// padding 
$header-padding: 0 50px